*{
    margin: 0%;
    padding:0%;
}
.body{
    background-image: linear-gradient(to left, rgb(156, 153, 153), rgb(223, 221, 221) ); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.nav{
    background-color: rgb(168, 162, 162);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    grid-area: nav;
    padding: 20px;
    
    
}
li{
    padding: 2px;
    margin: 6px;
    font-size: 11px;
    font-weight: bold; 
    
}
a{
    text-decoration: none;
    color: grey;
}
nav ul li:hover{
    background-color: red;
    transform: rotate(222deg);}
.titulo{
    
    color: grey;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 15px;
    padding: 15px;
    grid-area: titulo;
}
.h2{
    color:rgb(69, 69, 194);
    font-size: 15px;
    margin: 15px;
    padding: 15px;
    background-color: rgb(223, 221, 221);
    text-align: center;
    border: solid 1px grey;  
}
.h3{
    background-color: rgb(223, 221, 221);
    text-align: center;
    border: solid 1px;
    margin-left: 15%;
}
#logo img{ 
    height: 60%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border: 0%;
    grid-area: logo;
}
.nosotros{
    color: grey;
    background-color:rgb(223, 221, 221);
    font-size: 20px;
    margin: 20px;
    padding: 15px;
}
.producto{
    width: 35%;
    border-radius: 50% ;
    border: 1px solid grey;
    
}
.derechos{
    color: grey;
    text-align: center;
    font-size: 10px;
     margin-top: 20%;
    grid-area: derechos;  
}
.main{
   background-color: rgb(223, 221, 221);
    justify-content: space-around;
    align-items: center;
    border: solid 1px grey;
    display: flex;
    grid-area: main;

}
    
#index{
        display: grid;
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-areas:"nav"
                            "titulo"
                            "logo"
                            "main"
                            "derechos";
        justify-content: center;}

#grillaProductos{
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "producto1 producto2"
                          "producto3 producto4"
                          "derechos derechos";   
}
.producto1{
    grid-area: producto1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.producto2{
    grid-area: producto2;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}.producto3{
    grid-area: producto3;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}.producto4{
    grid-area: producto4;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
@media only screen and (min-width:1024px) {
    #grillaProductos{
        display: grid;
        height: 80vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "producto1 producto2"
                              "producto3 producto4"
                              "derechos derechos"; 
}    
}
nav ul{
   display: flex;
   
    
}    
nav ul li{
display: flex;
   list-style: none;
    padding: 2px;
    margin: 6px;
    font-size: 15px;
    font-weight: bold;   
}
nav ul li:hover{
    background-color: rgb(36, 34, 34);
    transform: scale(1.2);
    transform: translate(10px 20px)
}
.titulo{
    
    color: grey;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    text-align: left;
    margin: 15px;
    padding: 15px;}
#index{
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-areas:"titulo"
                        "imghome"
                        "texto"
                        "redes"
                        "footer";
    justify-content: center;
}
.derechos{
    color: grey;
    font-size: 10px;
    grid-area: derechos;
    margin-top: 20%;
}
